<form [formGroup]="form" (submit)="addTopic()">

  <label for="title">Title</label>
  <input formControlName="title" id="title" class="form-control" required>

  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
    <div *ngIf="title.errors.required">
      Required
    </div>
    <div *ngIf="title.errors.minlength">
      Minimum length is 3
    </div>
    <div *ngIf="title.errors.maxlength">
      Maximum length is 20
    </div>
  </div>

  <label for="tags">Tags</label>
  <input formControlName="tags" id="tags" class="form-control" required>

  <div *ngIf="tags.invalid && (tags.dirty || tags.touched)" class="error">
    <div *ngIf="tags.errors.required">
      Required
    </div>
    <div *ngIf="tags.errors.minlength">
      Minimum length is 3
    </div>
    <div *ngIf="tags.errors.maxlength">
      Maximum length is 30
    </div>
  </div>


  <label for="description">Description</label>
  <textarea formControlName="description" id="description" class="form-control" cols="20" rows="10" required></textarea>

  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
    <div *ngIf="description.errors.required">
      Required
    </div>
    <div *ngIf="description.errors.minlength">
      Minimum length is 100 ({{ 100 - description.value.length }} needed)
    </div>
  </div>

  <div class="tool">
  <button type="submit" class="btn btn-default btn-block">Add</button>
  </div>
</form>
