<div class="row">
  <div class="col-10">
    <h2>Topics</h2>
  </div>
  <div class="col-2">
    <button class="btn btn-default add-btn" [routerLink]="['new']">+ Add a new topic!</button>
  </div>
</div>

<app-search></app-search>

<div class="row">
  <div [ngClass]="{'topic-tile': true, 'subscribed': isSubscribed(topic)}" *ngFor="let topic of topics"  [routerLink]="[topic.$key]">
    <div class="col-6"></div>
    <h4>{{ topic.title }}</h4>
    <div *ngFor="let tag of topic.tags" class="tag">
      <small>#{{ tag }}</small>
    </div>
    <h5 *ngIf="isSubscribed(topic)">SUBSCRIBED</h5>
  </div>
</div>
