.topic-tile {
  color: white;
  background-color: #1D7E20;
  width: 17%;
  margin: 16px;
  border-radius: 20px;
  padding: 20px;
  height: 175px;

  position: relative;
}

.topic-tile:hover {
  cursor: pointer;
}

.tag {
  display: inline-block;
  color: #9fc400;
}

.add-btn {
  color: white;
  background: #1d7e20;
  border-radius: 20px;
  height: 40px;
}

.add-btn:hover {
  cursor: pointer;
}

.subscribed {
}

.subscribed > h5 {
  color: white;
  background: #9fc400;
  width: 150px;
  padding: 7px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
}

.subscribed > .tag {
}
