<div class="row">
  <div class="col-10">
    <h2>{{ topic.title }}</h2>
  </div>
  <div class="col-1">
    <button class="btn btn-primary back" [routerLink]="['..', 'edit', topic.$key]">
      Edit
    </button>
  </div>
  <div class="col-1">
    <button class="btn btn-primary" [routerLink]="['..']">
      Back
    </button>
  </div>
</div>
<div class="row"></div>
<p>
  {{ topic.description }}
</p>


<p>
  <small>{{ topic.tags }}</small>
</p>

<h3>Subscribers</h3>
<ul *ngIf="subscribers">
  <li *ngFor="let sub of subscribers">{{ sub.user.displayName }}</li>
</ul>
<p *ngIf="!subscribers">
  <small>No subscribers</small>
</p>

<button *ngIf="!isSubscribed()" class="btn btn-block" (click)="subscribe(topic)">Subscribe</button>
<button *ngIf="isSubscribed()" class="btn btn-block" (click)="unsubscribe()">Unsubscribe</button>
