<div class="row search-tile">
  <div class="col-6">
    <div class="row">
      <div class="col-6 form-group">
        <input [(ngModel)]="query.title" (keyup)="search()" class="form-control col-12" type="text" placeholder="Search a topic">
      </div>
      <div class="col-6 form-group">
        <select class="form-control col-12" [(ngModel)]="query.tag" (change)="search()">
          <option>all</option>
          <option *ngFor="let tag of tags">{{ tag.$value }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-6 form-check form-check-inline">
        <label for="only-me" class="form-check-label">
        <input id="only-me" type="checkbox" class="form-check-input" [(ngModel)]="query.onlyMe" (change)="search()">
          My subscriptions
        </label>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h4>Session 1 <small>‖</small> 20 oktober 2017 <small>‖</small> Huizingen</h4>
  </div>
</div>
