/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
@font-face {
    font-family: DistProTh;
    src: url('../../font/DistProTh.otf');
}

$grass: #4EAF48;
$chartreuse: #ABD037;
$emerald: #259040;
$moss: #489341;
$greengreen: #20A152;
$lime: #83C441;


$olive: #A69A2E;
$fern: #64A282;
$midnight_blue: #3D57A6;
$very_pink: #EC008C;
$lemon: #F6D726;
$aquamarine: #35BA9A;
$stone: #8A8C8E;
$mint: #A8D5BB;
$deep_lavender: #7752A1;
$fog: #C9CACC;
$pumpkin: #DA5B26;
$earl_grey: #282A37;


$vertical_move: 50px;

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: white;

$mainColor: $earl_grey;
$headingColor: $moss;

$mainFontSize: 42px;
$mainFont: 'Helvetica LT sd', Helvetica, Arial, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$baselineFont: DistProTh, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $greengreen;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$list-style-color: $chartreuse;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

ul li
{
	list-style: none;
	color: $chartreuse;
	font-size: 0.8em !important;
	& > span{
		color: $mainColor; 
	}
}
ul li a {
	color: $chartreuse !important;
	text-decoration: underline !important;
}

p {
	font-size: 0.8em !important;
}
$round_image_width: 20rem;

.reveal section img.round_img{
	width: $round_image_width;
	height: $round_image_width;
	border-radius: 50%;
	border:none;
	margin: 0;
}

.reveal section .logo_footer {
	position: fixed; 
	bottom: 0; 
	width: 100%;	
}
.reveal section .logo_footer img {
	width: 30%;
	border:none;
	background: none;
	box-shadow: none;
}

 a.faq_link {
	display: block; 
	position: static;
}
 a.faq_link img {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
	margin: 10px;
	width: 3%;
}

a.logo_footer_small  {
	display: block; 
	position: static;
}
 a.logo_footer_small img {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	border: 0;
	margin: 10px;
	width: 2%;
}


#values li img {
	height: 40px; 
	margin-right: 5px;
	width: auto;
	border:none;
	background: none;
	box-shadow: none;
	vertical-align: middle;
	
}
#values li.value-info {
	color: $mainColor;
	font-size: 0.5em !important;
}
							
html .slide-background {
    opacity: 0.5 !important;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal{
h1 {
	color: $mainColor;
	font-family: $baselineFont;
	font-weight: normal;
	text-transform: none;
}	
img{
	max-width: 100%;
	max-height: 100%;
}
header{
	color: $headingColor;
}
ul{
margin: 0;
ul{
	margin: 0;
}
&.community_wat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	& > li{
	display: flex;
	align-items: center;
	flex-direction: column;
	//width: 40%;
	flex-shrink: 0;
	//flex-basis:40%;
	&:nth-child(1){
		ul{
			background-color: $lemon;
		}
	}
	&:nth-child(2){
		ul{
			background-color: $pumpkin;
		}
	}
	&:nth-child(3){
		grid-column: 1/3;
		position: relative;
		top: -10rem;
		ul{
			background-color: $aquamarine;
		}
	}
	}
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: $round_image_width;
		height: $round_image_width;
		border-radius: 50%;
		font-size: 1rem;
		li{
			&:first-child{
				margin-top: 5em;
			}
			margin: 1em 0;
		color: $earl_grey;
		}
		}
		span{
			font-size: 2rem;
			position:relative;
			top: -2.5em;
				background: rgba(255,255,255,.5);
	padding: .15em;
	width: 100%;
	text-align: center;
		}
		
}
}
}


section.present.devlabs{
    .reveal.slide & {
        backface-visibility: visible;
    }
    .community_wat{
        & > li{
            //animation-fill-mode: forwards;
            mix-blend-mode: multiply;
			color: $earl_grey;
			min-height: 20rem;
			min-width: 20rem;
			max-height: 20rem;
			max-width: 20rem;
			border-radius: 50%;
			justify-self: center;
			justify-content: center;
			grid-row: 1;
            &:nth-child(1){
				transform: translate(160px,$vertical_move);
                background-color: $lemon;
				grid-column:1;
            }
            &:nth-child(2){
				transform: translate(-160px, $vertical_move);
                background-color: $pumpkin;
				grid-column: 2;
            }
            &:nth-child(3){
				transform: translateY($vertical_move);
                background-color: $aquamarine;
				grid-row: 2;
            }
			div{
				display: none;
			}
        }
    }
}

.devlabs_title{
	grid-area: 1/1/span 2/span 2;
	color: $fog !important;
	transform: translateY(75px);
	mix-blend-mode: screen !important;
}

section.present.devlabs.devlabs_animation{
	.reveal.slide & {
        backface-visibility: visible;
    }
    .community_wat > li{
		&:nth-child(1){
                transform: translate(160px,$vertical_move);
                animation: my-animation-1 3s 1 ease-in-out;
            }
            &:nth-child(2){
                transform: translate(-160px, $vertical_move);
                animation: my-animation-2 3s 1 ease-in-out;
            }
            &:nth-child(3){
                transform: translateY($vertical_move);
                animation: my-animation-3 3s 1 ease-in-out;
            }
	}
}



@keyframes my-animation-1 {
from { transform: translate(0px); }
to { transform: translate(160px,$vertical_move); }
}

@keyframes my-animation-2 {
from { transform: translate(0px); }
to { transform: translate(-160px,$vertical_move); }
}

@keyframes my-animation-3 {
from { transform: translateY(0px); }
to { transform: translateY($vertical_move); }
}